
/*ZÁKLAD STRÁNKY*/
body {
font-family: "Segoe UI", Arial, sans-serif;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
background: linear-gradient(135deg, #1f2933, #111827);
color: #ffffff;
}


/*HLAVIČKA A MENU*/
header {
width: 100%;
display: flex;
justify-content: center;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(6px);
}

nav {
width: 1000px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
}

.logo {
font-size: 26px;
font-weight: bold;
color: white;
}

nav ul {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

nav ul li {
margin-left: 25px;
}

nav ul li a {
color: white;
text-decoration: none;
font-weight: 500;
padding: 8px 14px;
border-radius: 20px;
transition: background 0.3s;
}

nav ul li a:hover {
background: rgba(255, 255, 255, 0.2);
}
/*HLAVNÝ OBSAH*/
img.profile {
width: 230px;
margin-top: 20px;
border-radius: 50%;
border: 5px solid #3b82f6;
}


/*TABUĽKY*/
table {
margin: 25px auto;
width: 90%;
border-collapse: collapse;
color: rgb(107, 104, 104);
}

th {
background-color: #3b82f6;
color: white;
}

th, td {
padding: 14px;
border: 1px solid #d1d5db;
text-align: center;
}

tr:nth-child(even) {
background-color: #f3f4f6;
}


/*FORMULÁR*/
form {
margin: 30px auto 0 auto;
max-width: 420px;
text-align: left;
}

input, textarea {
width: 100%;
padding: 12px;
margin-bottom: 15px;
border-radius: 8px;
border: 1px solid #ccc;
font-size: 14px;
}

textarea {
resize: vertical;
min-height: 110px;
}

button {
width: 100%;
background-color: #3b82f6;
color: white;
border: none;
padding: 12px;
font-size: 16px;
border-radius: 25px;
cursor: pointer;
}

button:hover {
background-color: #2563eb;
}
/*GALÉRIA*/
.gallery {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
margin-top: 30px;
}

.gallery-item {
width: 220px;
background-color: gray;
border-radius: 16px;
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
overflow: hidden;
}

.gallery-item img {
width: 100%;
height: 150px;
object-fit: cover;
}

.gallery-item p {
padding: 12px;
font-weight: 500;
}

/*ZOZNAMY */
ul, ol {
display: inline-block;
text-align: left;
margin: 16px auto;
}

li {
margin-bottom: 3px;
}

ol {
margin-top: 2px;
}
/* ZOZNAMY V STĹPCOCH */

.lists {
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
margin-top: 30px;
}

.list-box {
width: 220px;
padding: 20px;
background-color: #f9fafb;
border-radius: 14px;
box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
text-align: left;
color: black;
}

.list-box h2 {
text-align: center;
margin-bottom: 10px;
}
